body {
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;

	background-color: #f8f8f8;
	color:#111;
	font-size: 1rem;
	line-height: 1.4;
}

.nav {

	a + a {

		margin-left: 2rem;
	}
}