<template>
	
	<div>
		
		<highcharts :options="chartOptions"></highcharts>

	</div>	

</template>

<script>
	
	import Vue from 'vue';
	import HighchartsVue from 'highcharts-vue';

	Vue.use(HighchartsVue);

	
	export default {
		props: {

			chartType: {
				type: String,
				default: 'spline'
			},

			title: {
				type: String,
				default: 'Chart'
			},
			yAxisTitle: {
				type: String,
				default: null
			},
			xAxisTitle: {
				type: String,
				default: null
			},

			xAxis: {
				type: Array,
				default() {
					return [];
				}
			},
			yAxis: {
				type: Array,
				default() {
					return [];
				}
			},
			series: {
				type: Array,
				default() {
					return [];
				}
			}
		},
		computed: {

			chartOptions() {

				return {
					chart: {
						type: this.chartType,
					},
					title: {
			          text: this.title
			        },
			        xAxis: {
			        	title: {
			        		enabled: this.xAxisTitle != null,
				            text: this.xAxisTitle
				        },
				        categories: this.xAxis
				    },
			        yAxis: {
				        title: {
				        	enabled: this.yAxisTitle != null,
				            text: this.yAxisTitle
				        }
				    },
				    legend: {
				        layout: 'vertical',
				        align: 'right',
				        verticalAlign: 'middle'
				    },
				    plotOptions: {
				    	spline: {
				    		marker: {
				                enabled: false
				            },
				    	}
				    },
				    tooltip: {
				        headerFormat: 'Step: {point.x}<br/><br/>',
				        pointFormat: '{point.series.name}: <b>{point.y}%</b><br/>',
				        shared: true
				    },
				    series: this.series
				}
			}
		}
	}
</script>