<template>
	
	<div>
		
		<chart 
			:xAxis="steps" 
			:series="series" 
			chartType="spline" 
			title="Onboarding Retention by Weeks" 
			xAxisTitle="Steps"
			yAxisTitle="Users in step, %"
		></chart>

	</div>	

</template>

<script>
	
	import { mapGetters } from 'vuex';
	import Chart from './Chart';
	
	export default {
		components: {
			Chart
		},
		props: {


		},
		computed: {
			
			...mapGetters([
				'onboardingData'
			]),

			steps() {

				return this.onboardingData['x'] ? this.onboardingData['x'] : [];
			},
			series() {

				return this.onboardingData['series'] ? this.onboardingData['series'] : [];
			}
		},
		created() {

			this.$store.dispatch('getData');
		}
	}
</script>